<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <span class="navbar-brand mb-0 h1">Prueba Técnica</span>
</nav>
<h2 class="display-4" style="margin-left: 5%;">Bienvenido</h2>
<div class="card" style="margin-left: 5%; margin-right: 5%; margin-bottom: 5%;">
    <div class="card-body">
        <form #form="ngForm" autocomplete="off" (submit)="onSumbit(form)">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
            <div class="form-group">
                <input type="text" name="idTarea" #idTarea="ngModel" [(ngModel)]="service.formData.idTarea" class="form-control" placeholder="id" required>
                <div *ngIf="idTarea.invalid && idTarea.touched" class="validation-error">Este campo es requerido.</div>
            </div>
            <div class="form-group">
                <input type="text" name="title" #title="ngModel" [(ngModel)]="service.formData.title" class="form-control" placeholder="title" required>
                <div *ngIf="title.invalid && title.touched" class="validation-error">Este campo es requerido.</div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="form.invalid" class="btn btn-danger" style="margin: inherit; margin-left: 37%; margin-bottom: -5%">Guardar</button>
            </div>
        </form>
    </div>
</div>