<ion-app>
    <div class="overflow-auto">
        <div class="row">
            <div class="col-md-5">
                <app-todo></app-todo>
            </div>
            <div class="col-md-7">
                <app-todo-lista></app-todo-lista>
            </div>
        </div>
    </div>
</ion-app>