<div class="row d-flex justify-content-center">
    <table class="table table-striped" style="margin-left: 9%; margin-right: 8%;">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of list" scope="row">
                <td (click)="onEdit(a)">{{a.idTarea}}</td>
                <td (click)="onEdit(a)">{{a.title}}</td>
                <td><a class="btn text-danger" (click)="onDelete(a.id)"><i class="fa fa-trash"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row d-flex justify-content-center">
    <h4>Lista API Rest</h4>
    <table class="table" style="margin-left: 9%; margin-right: 8%;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">title</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" scope="row">
                <th scope="row">{{ user.userId }}</th>
                <td>{{ user.id }}</td>
                <td>{{ user.title }}</td>
            </tr>
        </tbody>
    </table>

</div>